{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>
            {% block fixed-title %}
                Vino Club
            {% endblock fixed-title %}
        </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'core/assets/vinoclubicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'core/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body style="background-image: url('{% static 'core/img/bright-red.webp'%}')">
        <!-- Responsive navbar-->
        {% include 'core/components/navbar.html' %}
        <!-- Page Content-->
        <div class="container px-4 px-lg-5 bg-transparent">
            {% block title %}   
            {% endblock title %}
            
            {% block content %}
            {% endblock content %}
        </div>
        <!-- Footer-->
        {% include 'core/components/footer.html' %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'core/js/scripts.js' %}"></script>
    </body>
</html>