{% extends 'core/base.html' %}

{% block title %}
    {% include 'core/components/title1.html' with title='Iniciar Sesión' %}   
{% endblock title %}
    
{% block content %}
    {% if messages %}
        {% for message in messages  %}
            <div class="alert-{{ message.tags }} fs-4 my-4">
                {{ message }}
            </div>
        {% endfor %} 
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{request.GET.next}}">
        {% else %}    
            <input type="hidden" name="next" value="{% url 'core:home' %}">
        {% endif %}
        <div class="my-2 py-2">
            <a href="{% url 'core:home' %}" class="btn btn-outline-light ">Cancelar</a>
            <button type="submit" class="btn btn-outline-light">Iniciar Sesión</button>
        </div>
    </form>
    <div>
        <p><br></p>
        <h2>¿Todavia no te registraste?</h2>
        <p>Registrate ahora y empeza a disfrutar del mejor club de vinos.</p>
        <a class="btn btn-outline-light" href="{% url 'core:register' %}">Registrarse</a>
    </div>

<p><br></p>
{% endblock content %}