{% extends 'core/base.html' %}

{% block title %}
    {% include 'core/components/title1.html' with title='Registro de usuario' %}   
{% endblock title %}

{% block content %}
    <form method="post">
        {% csrf_token %}
            {{ form.as_p }}
        <input type="hidden" name="next" value="{% url 'core:home' %}">
        <div class="my-2 py-2">
            <a href="{% url 'core:home' %}" class="btn btn-outline-light">Cancelar</a>
            <button type="submit" class="btn btn-outline-light">Registrarse</button>
        </div>
    </form>
<p><br></p>
{% endblock content %}