{% extends 'core/base.html' %}

{% block title %}
    {% include 'core/components/title1.html' with title='Eliminar artículo'%}
{% endblock title %}

{% block content %}
    <p class="fs-4 pb-lg-2">¿Esta seguro que desea eliminar el articulo "{{ blog.titulo }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" >Confirmar</button>
        <a href="{% url 'blog:home' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock content %}