{% extends 'core/base.html' %}
{% block title %}
    {% include 'core/components/title1.html' with title='Blog' %}
{% endblock title %}
{% block content %}
    <div class="fs-4 pb-4">
        <form action="{% url 'blog:blog_search' %}" method="get">
            <input type="text"
            class="form-control"
            name="consulta"
            placeholder="Buscar..."
            aria-label="Buscar"
            style="background: pink">
        </form>
    </div>
<h4>Este blog es para los amantes del vino que deseen compartir sus experiencias y conocimientos.</h4>
    <div class="fs-3 pb-4">
        <a href="{% url 'blog:blog_create' %}">Escribir nuevo artículo</a>
    </div>
    <div class="blog">
        {% for blog in blogs %}
            <div class="blog">
                <h2>
                    <a href="{% url 'blog:blog_fullview' blog.id %}">{{ blog.titulo }}</a>
                </h2>
                <p>{{ blog.snippet }}</p>
                <p>
                    {{ blog.autor }} | {{ blog.fecha }}
                    {% if user.is_authenticated %}
                        {% if user != blog.autor %}
                            | Copyright
                        {% else %}
                            | <a href="{% url 'blog:blog_update' blog.id %}">Editar</a>
                            | <a href="{% url 'blog:blog_delete' blog.id %}">Eliminar</a>
                        {% endif %}
                    {% else %}
                        | Copyright
                    </p>
                {% endif %}
            </div>
        {% endfor %}
        <div class="fs-4 pb-lg-2 my-5">
            <a href="{% url 'core:home' %}">Volver</a>
        </div>
    </div>
    <p>
        <br>
    </p>
{% endblock content %}
